# RUST

debug
target
**/*.rs.bk
*.pdb
**/mutants.out*/
*.db
**/.sender_sequence_counter
.codex
tmp/*

# TERRAFORM

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.lock.hcl
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
*terraform.tfvars$
